@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: ddin;
  src: url(/public/D-DIN.ttf);
}

@font-face {
  font-family: ddin-bold;
  src: url(/public/D-DIN-Bold.ttf);
}

* {
  margin: 0;
  font-family: ddin;
  font-family: "roboto", sans-serif;
}

body {
  background-color: #3a3a3a;
}

.navbar {
  background-color: #3a3a3a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; 
}

.container {
  max-width: 1240px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  
  .navbar-collapse {
    height: auto !important;
    display: flex !important;
    align-items: center;
  }
}

