@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100;300;400&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Rancho&display=swap');

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #3a3a3a;
}

.navbar {
  background-color: #3a3a3a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px 0;
 
}

.container {
  max-width: 968px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  
  .navbar-collapse {
    height: auto !important;
    display: flex !important;
    align-items: center;
  }
}


