.About-container {
  display: flex;
}

.Kiri {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Kiri img {
  max-height: 100%;
  object-fit: contain;
}

.Kanan {
  width: 37%;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 305px;
}


.Kanan h1 {
  letter-spacing: 1.5px;
  font-size: 35px;
}

.Kanan p {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #b5b5b5;
  text-align: left;
}

.Contact-item {
  margin-top: 10px;
}

.Contact-item a:hover .contact-icon {
  opacity: 0.8;
}

.Contact-item .contact-icon {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: opacity 0.3s;
}

.Social-links {
  display: flex;
  margin-bottom: 1rem;
  margin-top: -44px;
  margin-left: 180px;
}

.Social-links a {
  margin: 0 1vw;
}

.Social-links a:hover {
  opacity: 0.8;
}

.Social-links a .social-icon {
  width: 2rem;
  height: 2rem;
  color: #b5b5b5;
}

.cv-download{
  font-weight: 600;
  font-size: 14px;
}

.cv-download a{
  color: #b5b5b5; 
}

.cv-download a:hover{
  color: #DB7212;
}

/* Media Query Mobile */

@media screen and (max-width: 768px) {
  .About-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .Kiri {
    margin-top: 5rem;
    margin-right: 5rem;
    height: auto;
    margin-bottom: 1.5rem; 
  }

  .Kiri img {
    height: 420px;
    margin-left: 100px;
    display: none;
  }

  .Kanan {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: static;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .Kanan h1 {
    font-size: 1.8rem;
    letter-spacing: normal!important;
  }

  .Kanan p {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .Contact-item{
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .Social-links {
    margin-left: 140px;
  }
  
  
  .Contact-item .contact-icon,
  .Social-links .social-icon {
    width: auto;
    height: 2.5rem;
    color: #b5b5b5;
  }
}

