@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@font-face {
  font-family: ddin-bold;
  src: url(/public/D-DIN-Bold.ttf);
}

.Mockup {
  position: relative;
  margin-left: 750px;
  margin-top: 100px;
}

.Work {
  text-align: center;
  margin-top: 130px;
}

.Portfolio-container {
  background-color: #323232;
  padding-bottom: 150px;
  position: relative;
}

.Work h4 {
  color: white;
  padding-top: 100px;
  font-family: ddin-bold;
}

.Work h1 {
  color: #db7212;
  font-size: 40px;
  font-family: ddin-bold;
}

.Detail {
  position: absolute;
  margin-right: 59%;
  margin-left: 110px;
  padding-left: 20px;
  color: #db7212;
}


.Detail h1 {
  padding-top: 10px;
  letter-spacing: 1.25px;
  font-size: 30px;
  color: white;
  font-family: ddin-bold;
}

.Detail p {
  padding-top: 20px;
  font-size: 16px;
  color: #b5b5b5;
  line-height: 27px;
}

.Detail button {
  background-color: #db7212;
  margin-top: 8px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
}

.Detail a{
  text-decoration: none;
  color: #fff;
}

.Detail button:hover{
  opacity: 0.8;
}

.Mockup img {
  width: 555px;
  height: 357.616px;
  transition: transform 0.5s ease-out;
}

.Mockup img:hover {
  opacity: 0.8;
}

.visit-web a{
color: #323232;
}

@media screen and (max-width: 768px) {
  .Portfolio-container {
    padding-bottom: 1rem;
    margin: 0;
  }

  .Work h4 {
    padding-top: 50px;
    padding-top: 20px;
    text-align: start;
    padding-left: 1rem;
    font-size: 20px;
  }

  .Work h1 {
    font-size: 28px;
    font-size: 60px;
    text-align: start;
    padding-left: 0.8rem;
  }

  .Detail {
    position: static;
    margin: 50px auto;
    padding: 0;
    text-align: center;
  }

  .Detail h2{
  text-align: start;
  padding-left: 1rem;
  }

  .Detail h1 {
    font-size: 24px;
    text-align: start;
    padding-left: 1rem;
    width: 90%;
  }

  .Detail p {
    font-size: 16px;
    text-align: start;
    padding-left: 1rem;
    width: 90%;
  }

  .Detail img {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    transition: opacity 0.3s;
  }

  .Detail img:hover {
    opacity: 0.1;
  }

  .Detail button{
    display: none;
  }

  .Mockup {
    margin: 50px auto;
    text-align: center;
  }

  .Mockup img {
    width: 90%;
    height: 100%;
  }

  .visit-web{
    text-align: start;
    padding-left: 1.5rem;
  }

  .visit-web a{
    color: #fff;
    font-size: 12px;
  }

}
